{% extends "base.html" %}

{% block  main %}

<div class="row">
	<div class="col-sm-3 form-group">
		<h2>Form</h2>
		<form action="{{ url_for('handle_data') }}" method="POST">
			<div class="form-group">
				<label>Caliper number</label>
				<input class="form-control" type="number" name="caliper_num" value=23 step="any">
			</div>
		<button type="submit" class="btn btn-outline-secondary">Submit</button>
		</form>
	</div>
	<div class="col-sm-9">
		<h2>Plot</h2>
		<div class="chart" id="bargraph">
			<script>
			var graphs = {{plot | safe}};
			Plotly.plot('bargraph',graphs,{});
			</script>
		</div>
	</div>
</div>

{% endblock  %}