{% extends "base.html" %}

{% block main %}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        {% set field_name = row[1] %}
        {% set field_type = row[2] %}
        <tr>
            <td>{{field_name}}</td>
            <td>{{field_type}}</td>
            {% if field_name != 'index' %}
            <td>
                <a class="btn btn-success" href="/db/table/{{table_name}}/{{field_name}}/{{field_type}}">explore</a>
            </td>
            {% else %}
            <td><span class="badge badge-info badge-large">{{row_count}}</span> rows</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}